@model List<IntimateHomeCookedFood.Models.CartItem>

@{
    ViewData["Title"] = "Sepet";
}

<h2>Sepet</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Yemek Adı</th>
                <th>Anne Adı</th>
                <th>Fiyat</th>
                <th>Adet</th> <!-- Adet sütunu eklendi -->
                <th>Toplam Fiyat</th> <!-- Toplam Fiyat sütunu eklendi -->
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Meal.Name</td>
                <td>@item.Mother.Name</td>
                <td>@item.Meal.Price TL</td>
                <td>@item.Quantity</td> <!-- Adet bilgisi gösterildi -->
                <td>@(item.Meal.Price * item.Quantity) TL</td> <!-- Toplam Fiyat hesaplandı -->
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Sepetiniz boş.</p>
}
