@model IEnumerable<IntimateHomeCookedFood.Models.Meal>
<div class="yemekler-container">
    <div class="yemekler-arkaplan"></div>
<h2>Tatlılar</h2>

<div class="row">
    @foreach (var meal in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body text-center">
                    <img src="@Url.Content(meal.ImageUrl)" 
                         class="img-fluid rounded mb-2" 
                         alt="@meal.Name" 
                         style="height: 200px; width: 100%; object-fit: cover;" />

                    <h4 class="card-title">@meal.Name</h4>
                    <p class="card-text">@meal.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form asp-action="AddToCart" method="post">
                            <input type="hidden" name="mealId" value="@meal.Id" />
                            <input type="hidden" name="returnUrl" value="@Url.Action("Desserts", "Meals")" />
                            <button type="submit" class="btn btn-sm btn-outline-primary">Sepete Ekle</button>
                        </form>
                        <small class="text-muted">@meal.Price TL</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
